.button {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.875rem;
  white-space: nowrap;
  padding: 12px;
  font-family: var(--primaryFont);
  margin-top: 8px;
  cursor: pointer;
}

@media screen and (min-width: 850px) {
  .button {
    font-size: 1rem;
    padding: 16px 24px;
  }
}
