.container {
  position: relative;
  width: 1360px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 875px) {
  .container {
    padding: 0 2rem;
  }
}

.blog-container {
  position: relative;
  width: 1360px;
  max-width: 100%;
  margin: 0 auto;
}
