.pageWrap {
  display: grid;
  grid-template-columns: 1fr;
}

.page {
  position: relative;
}

.page iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.page blockquote p {
  font-size: 2rem;
  line-height: clamp(2rem, 5vw, 3rem);
  font-size: clamp(1.25rem, 2vw, 2rem);
}

.page figcaption {
  font-weight: 700;
}

@media (min-width: 1050px) {
  .pageWrap {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 650px) {
  .page article {
    padding: 36px 64px 36px 36px;
  }
  .page p,
  .page ul {
    line-height: 1.85;
    font-size: 1.25rem;
  }
}

/* PRICING PLANS */

#pricing-plans {
  min-height: 100vh;
  width: 100%;
  background: url("/images/happy.webp") no-repeat center top fixed;
  background-size: cover;
  color: white;
  padding-top: 80px;
  & figure {
    margin: 0;
    padding: 0;
  }
}

#pricing-plans .masthead {
  display: none !important;
}

#pricing-plans p {
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 32px;
  background: var(--transparentBlack75);
  padding: 40px;
}

#pricing-plans h1 {
  color: white;
  border: 1px solid gray;
  width: fit-content;
  margin-bottom: 32px;
  background: var(--transparentBlack75);
  padding: 20px 40px;
}

/* TABLE STYLES */

#pricing-plans table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid gray;
  width: 100%;
  margin-bottom: 32px;
  background: var(--transparentBlack75);
  font-weight: 700;
  font-size: 1.25rem;
}

#pricing-plans th,
#pricing-plans td {
  vertical-align: middle;
  padding: 40px 24px;
  border: 1px solid var(--grey40);
}

#pricing-plans th {
  background: var(--transparentBlack75);
  border-bottom: 3px solid var(--grey40);
  font-size: 1.5rem;
}

/* UNDER 650px */
@media (max-width: 650px) {
  #pricing-plans th {
    display: none;
  }

  #pricing-plans td {
    display: block;
    padding: 0.5rem 1rem;
  }

  #pricing-plans td:first-child {
    font-weight: 700;
  }

  #pricing-plans td:first-of-type {
    background: var(--transparentBlack75);
  }

  #pricing-plans td:first-of-type::before {
    font-size: 1.25rem;
  }

  #pricing-plans .ca td:first-of-type::before {
    content: "Chiropractic Adjustments: ";
    display: flex;
  }

  #pricing-plans .mt-half-hour td:first-of-type::before {
    content: "Massage Therapy 1/2 Hour: ";
    display: flex;
  }

  #pricing-plans .mt-hour td:first-of-type::before {
    content: "Massage Therapy 1 Hour: ";
    display: flex;
  }
}

/* IMAGES */

figure {
  position: relative;
  text-align: center;
  & img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  & img.frame {
    border: 8px solid var(--grey15);
  }
  & img.round {
    border-radius: 999999px;
  }
  & img.shadow {
    box-shadow: var(--shadow-elevation-medium);
  }
  & figcaption {
    display: inline;
  }
}

.alignleft {
  float: left;
  margin: 1rem 2rem 0 0;
}

.alignright {
  float: right;
  margin: 1rem 0 0 2rem;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .alignleft {
    float: none;
    width: 100%;
    margin: 0 auto 1rem auto;
  }

  .alignright {
    float: none;
    width: 100%;
    margin: 0 auto 1rem auto;
  }
}
