.gallery {
  text-align: center;
  font-weight: 800;
  background: var(--primaryGradient);
  padding: 4rem 0;
  color: var(--grey05);
}

.galleryHeader {
  font-size: clamp(2rem, 5vw, 3.25rem);
  margin: 0 auto;
  width: fit-content;
}

/* SWIPER STYLES */

.swiper-image {
  width: 200px;
  height: 200px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4px !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
}

.swiper-pagination-bullet-active {
  background: var(--accentColor) !important;
}
