.mini-masthead {
  width: 100%;
  display: flex;
  min-height: 150px;
  align-items: center;
  & img {
    filter: brightness(0.35);
  }
  & .headline {
    z-index: 188;
    display: block;
    font-weight: 900;
    margin: 1.5rem;
    line-height: 1.25;
    font-size: clamp(1rem, 5vw, 1.5rem);
  }
}

.masthead {
  color: white;
  position: relative;
  width: 100%;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1.5rem;
  & img {
    filter: brightness(0.35);
  }
  & .headline {
    max-width: 25ch;
    z-index: 188;
    display: block;
    font-weight: 900;
    margin: 3rem 0 1.5rem;
    line-height: 1.25;
    font-size: clamp(2rem, 5vw, 3rem);
  }
  & .description {
    z-index: 188;
    display: block;
    line-height: 1.5rem;
    max-width: 60ch;
  }
}
